<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/main.css") 
        style( media="screen", type="text/css").
            :root {
                --color_background: #{theme.color_background};
                --color_border: #{theme.color_border};
                --color_text: #{theme.color_text};
                --color_post_even: #{theme.color_post_even};
                --color_post_odd: #{theme.color_post_odd};
                --color_acsent: #{theme.color_acsent};
            }
        title #{pageTitle}
    body
        block content